name: ci 
on:
  push:
    branches: 
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - run: pip install mkdocs-material
      - run: pip install mkdocs-print-site-plugin1
      
      - name: Deploy ru docs
        run: mkdocs gh-deploy --force --config-file config/ru/mkdocs.yml

      - name: Deploy en docs
        run: mkdocs gh-deploy --force --config-file config/en/mkdocs.yml
